@model IEnumerable<LibraryManager.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Catalogue</h2>

@*<p>
    @Html.ActionLink("New Book", "New", "Books", null, new { @class = "btn btn-lg btn-success"})
</p>*@

<table id="books" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Copies Available</th>
    </tr>
    </thead>
    <tbody>
        @*@foreach (var book in Model)
        {
            <tr>
                <td>@Html.ActionLink(book.Title, "Edit", "Books", new { id = book.Id }, null)</td>
                <td>@book.AuthorName</td>
                <td>@book.Genre.Name</td>
            </tr>
        }*@
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "title",
                    },
                    {
                        data: "authorLastName",
                        render: function (data, type, book) {
                            return book.authorFirstName + " " + book.authorLastName;
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "numberAvailable"
                    }
                ]
            });
        });
    </script>
}
